.layout {
  display: flex;
  flex-direction: column;
  background: #161313;
  position: relative;
  height: auto;
  min-height: 100vh;

  &__wrapper{
    filter: none;
    pointer-events: auto;

    &--filter-active{
      filter: blur(10px);
      pointer-events: none;
    }
  }
}