.slider{
  margin-bottom: 200px;

  &__title{
    font-size: 30px;
    line-height: 123.1%;
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 50px;

    @media(max-width: 500px){
      margin-left: 20px;
    }
  }

  &__img{
    width: 623px;
    height: 438px;

    @media(max-width: 1450px){
      height: 400px;
    }
    @media(max-width: 1300px){
      height: 350px;
    }
    @media(max-width: 1200px){
      height: 300px;
    }
    @media(max-width: 1070px){
      height: 250px;
    }
    @media(max-width: 950px){
      height: 200px;
    }
    @media(max-width: 750px){
      height: 160px;
    }
    @media(max-width: 600px){
      height: 130px;
    }
    @media(max-width: 450px){
      height: 115px;
    }
    @media(max-width: 380px){
      height: 100px;
    }
  }
}

.swiper-wrapper{
  left: -145px;

  @media(max-width: 1100px){
    left: -120px;
  }
  @media(max-width: 930px){
    left: -100px;
  }
  @media(max-width: 800px){
    left: -85px;
  }
  @media(max-width: 680px){
    left: -70px;
  }
  @media(max-width: 440px){
    left: -45px;
  }
  @media(max-width: 380px){
    left: -35px;
  }
}